<div>{{ item.name }}</div>
<div>{{ item.name_en }}</div>
<div>{{ item.category }}</div>
<div>{{ item.image }}</div>
<div>{{ item.location }}</div>
<div>{{ item.phone }}</div>
<div>{{ item.google._map }}</div>
<div>{{ item.rating }}</div>
<div>{{ item.description }}</div>
<a href="/">back</a>