<form action="/items/{{ item._id }}/edit" method="post">
  <input type="text" placeholder="name" name="name" value="{{ item.name }}">
  <input type="text" placeholder="english name" name="name_en" value="{{ item.name_en }}">
  <input type="text" placeholder="category" name="category" value="{{ item.category }}">
  <input type="text" placeholder="http://" name="image" value="{{ item.image }}">
  <input type="text" placeholder="address" name="location" value="{{ item.location }}">
  <input type="text" placeholder="phone" name="phone" value="{{ item.phone }}">
  <input type="text" placeholder="google map api" name="google_map" value="{{ item.google_map }}">
  <input type="text" placeholder="4.0" name="rating" value="{{ item.rating }}">
  <input type="text" name="description" value="{{ item.description }}">
  <button type="submit">Save</button>
  <a href="/items/{{ item._id }}">back</a>
</form>