<a href="./items/newItem">Create</a>

{{#each item}}
<div>{{ this.name }}</div>
<div>{{ this.name_en }}</div>
<div>{{ this.category }}</div>
<div>{{ this.image }}</div>
<div>{{ this.location }}</div>
<div>{{ this.phone }}</div>
<div>{{ this.google._map }}</div>
<div>{{ this.rating }}</div>
<div>{{ this.description }}</div>
<a href="./items/{{ this._id }}">detail</a>
<form action="/items/{{ this._id }}/deleteItem" method="post">
  <button type="submit">delete</button>
</form>
{{/each}}