<!--  banner  -->
<div class="banner">
  <div class="container-banner">
    <div class="text">
      <h1 class="title">Hi! I'm Ben Chou</h1>
      <p>Welcome to Website</p>
      <p>Dining Room List</p>
    </div>
  </div>
</div>
<!--  banner end  -->

<!--  create  -->
<a href="./restaurants/create" class="create"><i class="fas fa-plus"></i></a>
<!--  create end  -->

<!--  restaurant list  -->
<div class="list">
  <div class="container">
    <div class="restaurant-group">

      {{#each restaurant}}
        <div class="restaurant">
          <div class="pic">
            <a href="/restaurants/{{ this._id }}">
              <img src="{{ this.image }}" alt="{{ this.name }}"></a>
          </div>
          <div class="text">
            <h6 class="title">{{ this.name }}</h6>
            <div class="subtitle">
              <i class="fas fa-utensils"></i>
              {{ this.category }}
            </div>
            <div class="heart">
              {{ this.rating }}
              <i class="fas fa-star"></i>
            </div>
            <div class="map">
              <a href="{{ this.google_map }}" target="_blank">
                <i class="fas fa-location-arrow map"></i>
              </a>
            </div>
            <form action="/restaurants/{{ this._id }}/delete" method="post">
              <button type="submit"><i class="fas fa-trash"></i></button>
            </form>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</div>
<!--  restaurant list end  -->
